@import "vars";
@import "libs";
@import "fonts";
@import "media";
@import "global";

header#header-site {
    display: flex;
    max-width: 100%;
    min-height: 80px;
    margin: 0 auto;

    .container {
        width: 1440px;
        display: flex;
        align-items: center;
        max-width: 100%;
        justify-content: space-between;
        padding: 24px 0px 24px 0px;
        margin: 0 auto;
    }

    .left-header-nav {
        display: flex;
        align-items: center;
        width: 100%;

        .menu-nav {
            ul.menu-list {
                display: flex;
                align-items: center;
                justify-content: space-around;
                width: 100%;

                li {
                    list-style: none;
                    cursor: pointer;
                    padding-right: 42px;
                }

                li:hover {
                    color: #5E81FE;
                }
            }
        }
    }

    .right-header-nav {
        display: flex;
        align-items: center;
        justify-content: space-around;
        width: 100%;
        justify-content: flex-end;
        width: 100%;

        .soc-items {
            display: flex;
            align-items: center;

            div {
                svg {
                    padding-left: 37px;
                    cursor: pointer;
                    transition: 0.3s;

                    path:hover {
                        fill: #6188FF;
                        cursor: pointer;
                        transition: 0.3s;
                    }
                }
            }
        }

        .btn {
            a.get-started {
                margin-left: 47px;
            }
        }
    }
}

.below-header {
    background: linear-gradient(180deg, #F4F7FF 0%, #F1F5FF 100%);
    width: 1440px;
    max-width: 100%;
    margin: 0 auto;

    .container {
        position: relative;

        button.slick-prev.slick-arrow {
            display: none !important;
        }

        button.slick-next.slick-arrow {
            display: none !important;
        }

        .below-info-content {
            display: flex;
            align-items: center;
            flex-direction: column;
            text-align: center;
            min-height: 570px;
            padding-top: 92px;
            background-image: url(../img/clouds.png);
            background-repeat: no-repeat;
            background-size: cover;
            z-index: 9;

            p.p-light {
                max-width: 502px;
                margin: 0 auto;
                z-index: 9;
            }

            h2 {
                z-index: 9;
                margin-top: 16px !important;

                strong {
                    font-weight: 500;
                }
            }

            a.play-btn {
                z-index: 9;
            }
        }

        svg {
            position: absolute;
            bottom: 0 !important;
        }
    }
}

.list-our-partners {
    background-color: #ffffff;

    .container {
        padding: 60px 0px 60px 0px;

        .list-partner {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-evenly;

            svg:hover path {
                fill: #5982E7;
                transition: 0.3s ease-in-out;
            }
        }
    }
}

section.plan {
    background: #F5F8FF;
    min-height: 776px;

    .container {
        display: flex;
        justify-content: flex-end;
        padding-top: 140px;

        .plan-content {
            display: flex;
            flex-direction: column;
            max-width: 413px;
            padding-top: 70px;

            .plan-btn {
                display: flex;
                align-items: center;
                width: 100%;
                padding-top: 47px;

                a.video-play {
                    display: flex;
                    flex-direction: row;
                    background: #4C85FF;
                    box-shadow: 0px 5px 15px rgba(188, 199, 255, 0.75);
                    border-radius: 2px;
                    max-width: 130px;
                    min-height: 43px;
                    align-items: center;
                    width: 100%;
                    justify-content: center;

                    img {
                        padding-left: 6px;
                    }
                }

                a.feature {
                    display: flex;
                    flex-direction: row;
                    border: 1px solid #D1D1E4;
                    box-sizing: border-box;
                    border-radius: 2px;
                    max-width: 130px;
                    min-height: 43px;
                    align-items: center;
                    width: 100%;
                    justify-content: center;
                }
            }
        }
    }
}

section.about-our {
    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 1201px;
        margin: 0 auto;
        background-image: url(../img/clouds-about.svg);
        background-position: center center;
        background-repeat: no-repeat;

        .about-title {
            text-align: center;
            padding-top: 171px;
        }

        .about-app {
            display: flex;
            flex-direction: row;
            align-items: center;
            padding-top: 92px;
            justify-content: space-evenly;
            width: 100%;

            .about-line {
                width: 28px;
                height: 1px;
                background: #DAE4FE;
            }

            .app-content {
                display: flex;
                flex-direction: column;
                align-items: center;



                p.p-opacity {
                    text-align: center;
                    max-width: 140px;
                    font-size: 11px;
                    line-height: 19px;
                }
            }

        }

        .about-btn {
            display: flex;
            align-items: center;
            padding: 92px 0px 171px 0px;

            .about-line {
                width: 15px;
                height: 1px;
                background: #DAE4FE;
                margin-left: 17px;
                margin-right: 17px;
            }
        }
    }
}

section.users {
    .container {
        display: flex;
        align-items: center;
        justify-content: center;

        .left-block-content {
            max-width: 720px;
            min-height: 342px;
            background: linear-gradient(229.32deg, #6888FF 12.77%, #5E80FF 73.11%);
            width: 100%;

            .left-padd {
                display: flex;
                flex-direction: column;
                align-items: flex-end;
                padding: 60px 90px 0px 0px;
            }
        }

        .right-block-content {
            max-width: 720px;
            min-height: 342px;
            background: linear-gradient(101.48deg, #E9EFFF 41.56%, #E0E9FF 81.53%);
            width: 100%;

            .right-padd {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                padding: 60px 0px 0px 90px;
            }

            p.count {
                color: #5E80FF;
            }

            p.belowe-count {
                color: #5E80FF;
                text-align: left;
            }
        }

        p.count {
            color: #FFFFFF;
            font-family: Quicksand;
            font-style: normal;
            font-weight: normal;
            font-size: 48px;
            line-height: 15px;
        }

        p.belowe-count {
            font-family: Quicksand;
            font-style: normal;
            font-weight: 500;
            font-size: 18px;
            line-height: 23px;
            text-align: right;
            letter-spacing: 0.03em;
            color: #FFFFFF;
            max-width: 260px;
        }
    }
}

section.blog {
    .container {
        display: flex;
        flex-direction: column;
        min-height: 865px;
        align-items: center;
        background: #F5F8FF;


        .blog-title {
            text-align: center;
            padding: 100px 0px 70px 0px;
        }

        .container-slider {
            width: 958px;
            max-width: 100%;
            min-height: 394px;
            background: #FFFFFF;
            border: 1px solid #D8E3FE;
            box-sizing: border-box;
            box-shadow: 0px 15px 50px #EFF4FF;
            margin: 0 auto;
            position: relative;
            
            
            .slick-prev.slick-arrow {
                position: absolute;
                top: 50%;
                margin-top: -12px;
                left: -80px;
                cursor: pointer;
            }

            .slick-next.slick-arrow {
                position: absolute;
                top: 50%;
                margin-top: -12px;
                right: -80px;
                cursor: pointer;
            }

            ul.slick-dots li{
                margin-bottom: -200px;
            }

            .blog-slider {
                display: flex !important;
                justify-content: space-between;
                align-items: center !important;

                .img-popup {
                    display: flex;

                    .img {
                        position: relative;

                        img.popup {
                            position: absolute;
                            left: 50%;
                            top: 50%;
                            margin-top: -33px;
                            margin-left: -33px;
                            display: none;
                        }
                    }

                    .img:hover img.popup {
                        cursor: pointer;
                        display: block !important;
                    }
                }

                .content-slider {
                    display: flex;
                    flex-direction: column;
                    width: 50%;

                    p.p-opacity {
                        max-width: 408px;
                    }
                }
            }
        }
    }
}