@import "vars";
@import "libs";
@import "fonts";
@import "media";
@import "global";


header#header-site {
    display: flex;
    max-width: 100%;
    min-height: 80px;
    margin: 0 auto;
    padding: 0px 15px;

    .container {
        width: 1440px;
        display: flex;
        align-items: center;
        max-width: 100%;
        justify-content: space-between;
        padding: 24px 0px 24px 0px;
        margin: 0 auto;
    }

    .left-header-nav {
        display: flex;
        align-items: center;
        width: 100%;

        .menu-nav {
            ul.menu-list {
                display: flex;
                align-items: center;
                justify-content: space-around;
                width: 100%;

                li {
                    list-style: none;
                    cursor: pointer;
                    padding-right: 42px;

                    a {
                        text-decoration: unset;
                        color: #697CA6;
                    }

                    a:hover {
                        color: #5E81FE;
                    }
                }

                li:hover {
                    color: #5E81FE;
                }
            }
        }
    }

    .right-header-nav {
        display: flex;
        align-items: center;
        justify-content: space-around;
        width: 100%;
        justify-content: flex-end;
        width: 100%;

        .soc-items {
            display: flex;
            align-items: center;

            div {
                svg {
                    padding-left: 37px;
                    cursor: pointer;
                    transition: 0.3s;

                    path:hover {
                        fill: #6188FF;
                        cursor: pointer;
                        transition: 0.3s;
                    }
                }
            }
        }

        .btn {
            a.get-started {
                margin-left: 47px;
            }
        }

        .toggle-menu {
            width: 50px;
            height: 50px;
            background: #5e81fe;
            display: none;

            span {
                width: 45px;
                text-align: center;
                padding: 5px 0px;
                height: 2px;
                color: #5e81fe;
            }
        }
    }
}

.nav-menu {
    max-width: 100%;
    position: fixed;
    right: -320px;
    height: 100%;
    transition: 0.5s;
    z-index: 3;
}

body .active {
    overflow-y: hidden;
}

.mobile-nav-menu {
    display: flex;
    flex-direction: column;
    top: 0;
    z-index: 9;


    .left-header-nav {
        display: flex;
        flex-direction: column;
    }

    .menu-nav {
        ul {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-self: unset;
        }
    }

    .right-header-nav {
        display: flex;
        flex-direction: column-reverse;
        padding: 15px 0;

        .soc-items {
            padding: 30px 0px;
        }
    }
}

.below-header {
    background: linear-gradient(180deg, #F4F7FF 0%, #F1F5FF 100%);
    width: 1440px;
    max-width: 100%;
    margin: 0 auto;

    .container {
        position: relative;
        padding-left: 0px !important;
        padding-right: 0px !important;

        button.slick-prev.slick-arrow {
            display: none !important;
        }

        button.slick-next.slick-arrow {
            display: none !important;
        }

        .below-info-content {
            display: flex;
            align-items: center;
            flex-direction: column;
            text-align: center;
            min-height: 570px;
            padding-top: 92px;
            background-image: url(../img/clouds.png);
            animation: slideClouds 30s linear infinite;
            background-repeat: repeat;
            background-size: cover;
            z-index: 9;

            p.p-light {
                max-width: 502px;
                margin: 0 auto;
                z-index: 9;
            }

            h2 {
                z-index: 9;
                margin-top: 16px !important;

                strong {
                    font-weight: 500;
                }
            }

            a.play-btn {
                z-index: 9;
            }
        }

        svg {
            position: absolute;
            bottom: 0 !important;
            width: 100vw;
            min-height: 450px;

            .line-move {
                stroke-dasharray: 1567;
                stroke-dashoffset: 1567;
                animation: lineMove 5s linear;
                animation-delay: 0.5s;
                animation-fill-mode: forwards;
            }
        }
    }
}

@keyframes lineMove {
    to {
        stroke-dasharray: 1510;
        stroke-dashoffset: 0;
    }
}

@keyframes slideClouds {
    0% {
        background-position-x: 0px;
    }

    50% {
        background-position-x: 1375px;
    }

    100% {
        background-position-x: 0%;
    }

}

.list-our-partners {
    background-color: #ffffff;

    .container {
        padding: 60px 0px 60px 0px;

        .list-partner {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-evenly;

            svg:hover path {
                fill: #5982E7;
                transition: 0.3s ease-in-out;
            }
        }
    }
}

section.plan {
    background: #F5F8FF;
    min-height: 776px;

    .container {
        display: flex;
        justify-content: flex-end;
        padding-top: 140px;

        .plan-content {
            display: flex;
            flex-direction: column;
            max-width: 413px;
            padding-top: 70px;

            .plan-btn {
                display: flex;
                align-items: center;
                width: 100%;
                padding-top: 47px;

                a.video-play {
                    display: flex;
                    flex-direction: row;
                    background: #4C85FF;
                    box-shadow: 0px 5px 15px rgba(188, 199, 255, 0.75);
                    border-radius: 2px;
                    max-width: 130px;
                    min-height: 43px;
                    align-items: center;
                    width: 100%;
                    justify-content: center;

                    img {
                        padding-left: 6px;
                    }
                }

                a.feature {
                    display: flex;
                    flex-direction: row;
                    border: 1px solid #D1D1E4;
                    box-sizing: border-box;
                    border-radius: 2px;
                    max-width: 130px;
                    min-height: 43px;
                    align-items: center;
                    width: 100%;
                    justify-content: center;
                }
            }
        }

        .content-img {
            img {
                width: 100%;
            }
        }
    }
}

section.about-our {
    background-image: url(../img/clouds-about.svg);
    background-position: center center;
    background-repeat: repeat-x;
    overflow: hidden;
    animation: slide 30s linear infinite;
    animation-fill-mode: forwards;

    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 1201px;
        margin: 0 auto;

        .about-title {
            text-align: center;
            padding-top: 171px;
        }

        .about-app {
            display: flex;
            flex-direction: row;
            align-items: center;
            padding-top: 92px;
            justify-content: space-evenly;
            width: 100%;

            .about-line {
                width: 28px;
                height: 1px;
                background: #DAE4FE;
            }

            .app-content {
                display: flex;
                flex-direction: column;
                align-items: center;



                p.p-opacity {
                    text-align: center;
                    max-width: 140px;
                    font-size: 11px;
                    line-height: 19px;
                }
            }

        }

        .about-btn {
            display: flex;
            align-items: center;
            padding: 92px 0px 171px 0px;

            .about-line {
                width: 15px;
                height: 1px;
                background: #DAE4FE;
                margin-left: 17px;
                margin-right: 17px;
            }
        }
    }
}

@keyframes slide {
    0% {
        background-position-x: 0px;
    }

    100% {
        background-position-x: 1291px;
    }

}

section.users {
    .container {
        display: flex;
        align-items: center;
        justify-content: center;

        .left-block-content {
            max-width: 720px;
            min-height: 342px;
            background: linear-gradient(229.32deg, #6888FF 12.77%, #5E80FF 73.11%);
            width: 100%;

            .left-padd {
                display: flex;
                flex-direction: column;
                align-items: flex-end;
                padding: 60px 90px 0px 0px;
            }
        }

        .right-block-content {
            max-width: 720px;
            min-height: 342px;
            background: linear-gradient(101.48deg, #E9EFFF 41.56%, #E0E9FF 81.53%);
            width: 100%;

            .right-padd {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                padding: 60px 0px 0px 90px;
            }

            p.count {
                color: #5E80FF;
            }

            p.belowe-count {
                color: #5E80FF;
                text-align: left;
            }
        }

        p.count {
            color: #FFFFFF;
            font-family: Quicksand;
            font-style: normal;
            font-weight: normal;
            font-size: 48px;
            line-height: 15px;
        }

        p.belowe-count {
            font-family: Quicksand;
            font-style: normal;
            font-weight: 500;
            font-size: 18px;
            line-height: 23px;
            text-align: right;
            letter-spacing: 0.03em;
            color: #FFFFFF;
            max-width: 260px;
        }
    }
}


section.blog {
    background: #F5F8FF;

    .container {
        display: flex;
        flex-direction: column;
        min-height: 865px;
        align-items: center;



        .blog-title {
            text-align: center;
            padding: 100px 0px 70px 0px;
        }

        .container-slider {
            width: 958px;
            max-width: 100%;
            min-height: 394px;
            background: #FFFFFF;
            border: 1px solid #D8E3FE;
            box-sizing: border-box;
            box-shadow: 0px 15px 50px #EFF4FF;
            margin: 0 auto;
            position: relative;


            .slick-prev.slick-arrow {
                position: absolute;
                top: 50%;
                margin-top: -12px;
                left: -80px;
                cursor: pointer;
            }

            .slick-next.slick-arrow {
                position: absolute;
                top: 50%;
                margin-top: -12px;
                right: -80px;
                cursor: pointer;
            }

            ul.slick-dots li {
                margin-bottom: -200px;
            }

            .blog-slider {
                display: flex !important;
                justify-content: space-between;
                align-items: center !important;

                .img-popup {
                    display: flex;

                    .img {
                        position: relative;

                        img.popup {
                            position: absolute;
                            left: 50%;
                            top: 50%;
                            margin-top: -33px;
                            margin-left: -33px;
                            display: none;
                        }
                    }

                    .img:hover img.popup {
                        cursor: pointer;
                        display: block !important;
                    }
                }

                .content-slider {
                    display: flex;
                    flex-direction: column;
                    width: 50%;

                    p.p-opacity {
                        max-width: 408px;
                    }

                    .btn-blog {
                        display: flex;
                        align-items: center;
                        padding-top: 30px;

                        a.bookmarks {
                            font-family: Quicksand;
                            font-style: normal;
                            font-weight: bold;
                            font-size: 13px;
                            line-height: 16px;
                            color: #A6B6DA;
                            text-decoration: unset;
                            padding-left: 30px;
                        }
                    }
                }
            }
        }
    }
}

section.customers {
    background: linear-gradient(180deg, #EAF0FF 0%, #F6F9FF 100%);

    .container {
        display: flex;
        padding: 109px 0px 150px 0px;

        .text {
            width: 100%;
            margin: 0 auto;
            padding-left: 276px;

            p {
                max-width: 323px;
            }
        }

        li.dot.is-selected {
            background: #5283FF !important;
        }

        .flickity-page-dots .dot {
            background: #D1D6E3;
        }

        .flickity-viewport {
            min-height: 235px;
            padding-bottom: 40px;
        }

        .slider-customer {
            width: 100%;

            .slide {
                width: 423px;
                max-width: 100%;
                height: 200px;
                margin-right: 60px;
                background: #8C8;
                border-radius: 5px;
                counter-increment: gallery-cell;
            }

            .slide.is-selected {
                background: #FFFFFF;
                border: 1px solid #D8E3FE;
                box-sizing: border-box;
                box-shadow: 0px 5px 50px #F3F5FA;
                opacity: 1;
            }

            .slide {
                background: #FFFFFF;
                border: 1px solid #D8E3FE;
                box-sizing: border-box;
                box-shadow: 0px 5px 50px #F3F5FA;
                opacity: 0.4;

                .p-opacity {
                    color: #8D96BD;
                    max-width: 305px;
                    margin: 0 auto;
                    font-size: 14px;
                    padding-top: 41px;
                }

                img {
                    position: absolute;
                    right: 50%;
                    margin-right: -30px;
                    bottom: -30px;
                }
            }
        }
    }
}

section.help {
    .container {
        padding: 100px;

        .faq-title {
            text-align: center;
        }
    }
}

.accordion {
    color: #8E96B7;
    cursor: pointer;
    padding: 16px;
    max-width: 743px;
    margin: 0 auto;
    border: none;
    text-align: left;
    outline: none;
    font-size: 18px;
    transition: 0.5s;
    font-family: Quicksand;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 19px;
    position: relative;
    border-bottom: 1px solid #D8E3FE;
    padding-bottom: 25px;
}


.accordion:before {
    content: '';
    background-image: url(../img/active.svg);
    background-repeat: no-repeat;
    position: absolute;
    width: 18px;
    height: 11px;
    left: -24px;
    top: 22px;
}

.accordion.active {
    font-size: 15px;
    color: #495274;
    font-weight: bold;
}

.accordion.active:before {
    content: '';
    background-image: url(../img/unactive.svg);
    position: absolute;
    font-size: 18px;
    font-weight: bold;
    width: 18px;
    height: 11px;
    left: -24px;
    margin-left: 5px;
    top: 22px;
}


.accordion>.content-faq {
    visibility: hidden;
    overflow: hidden;
    height: 0;
    opacity: 0;
    padding: 0;
    margin: auto;
    color: #212121;
    max-height: 100%;
    overflow: hidden;
    transition: all 0.2s linear;
    display: flex;
    align-items: center;
    justify-content: space-between;

    p {
        font-weight: initial;
        color: #8D96BD;
        max-width: 391px;
        line-height: 27px;
    }

    a {
        font-weight: initial;
        width: 195px;
        height: 43px;
        max-width: 100%;
        background: #E8ECF4;
        border-radius: 2px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: unset;
        font-size: 13px;
        color: #7382A3;
    }
}

.accordion.active>.content-faq {
    padding: 10px;
    visibility: visible;
    height: auto;
    overflow: none;
    opacity: 1;
    transition: all 0.2s linear;
}


.line-animation {
    stroke-dashoffset: 137;
    stroke-dasharray: 137;
    animation: animdash 3s linear;
    animation-delay: 2s;
    animation-fill-mode: forwards;
}

@keyframes animdash {
    to {
        stroke-dasharray: 200;
    }
}

.anim-circle {
    transform: rotate(400deg);
    transform-origin: 50% 50%;
    animation: linec 6s;
    animation-fill-mode: forwards;
}

@keyframes linec {
    to {
        transform: rotate(695deg);
    }
}

@keyframes slider-started {
    0% {}

    100% {}
}


section.get-started {
    background: url(../img/clouds-started.svg), linear-gradient(229.32deg, #6888FF 12.77%, #5E80FF 73.11%);
    min-height: 447px;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    background-position: center center;
    animation: slider-started 30s linear infinite;

    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;

        .title p,
        h2 {
            color: #fff;

            strong {
                font-weight: bold;
            }
        }

        .text-btn {
            .panel {
                color: #fff;
                max-width: 712px;
                margin: 0 auto;
                line-height: 29px;
                font-family: Roboto;
                margin-bottom: 30px;
            }

            .video-play {
                width: 130.08px;
                height: 43px;
                padding: 13px;
                color: #565F82;
                font-weight: bold;
                background: #FFFFFF;
                box-shadow: 0px 5px 15px #6480E8;
                border-radius: 2px;
            }

            .feature {
                width: 155px;
                height: 43px;
                border: 1px solid #A0B4FF;
                box-sizing: border-box;
                border-radius: 2px;
                padding: 13px 8px;
                color: #C7D3FF;
            }
        }
    }
}

section.newsletter {
    min-height: 332px;

    .container {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
        justify-content: space-around;
        padding: 180px 0;

        .news-left {
            p.p-opacity {
                max-width: 330px;
            }
        }

        form.save-form {
            display: flex;
            align-items: center;

            input.submit {
                width: 184px;
                height: 59px;
                background: #4D6CE1;
                box-shadow: 0px 5px 15px rgba(116, 104, 255, 0.2);
                border-radius: 5px;
                color: white;
                margin-left: 14px;
                border: unset;
                font-family: Quicksand;
                font-size: 13px;
            }

            input.email {
                background: #EFEFF7;
                border-radius: 5px;
                width: 279px;
                height: 59px;
                border: unset;

            }
        }
    }
}

.footer {
    border-top: 1px solid #D8E3FE;
    padding: 107px 0px 93px 0px;

    .footer-top {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .left-header-nav {
            display: flex;
            align-items: center;

            .menu-nav {
                display: block !important;

                ul.menu-list {
                    display: flex;
                    align-items: center;

                    li {
                        padding-right: 42px;

                        a {
                            text-decoration: unset;
                            color: #697CA6;
                        }

                        a:hover {
                            color: #5E81FE;
                        }
                    }

                    li:nth-child(1) {
                        padding-left: 50px;
                    }
                }
            }
        }

        .right-header-nav {
            display: flex;
            align-items: center;

            .soc-items {
                display: flex;
                align-items: center;

                div {
                    svg {
                        margin-right: 33px;
                    }
                }
            }
        }
    }

    .footer-bottom {

        padding: 42px 0px 20px 112px;

        .copyright {
            span {
                font-size: 12px;
                line-height: 15px;
                color: #AEB8D0;
                letter-spacing: 0.05em;
                text-transform: capitalize;
                font-family: Quicksand;
                font-style: normal;
            }
        }
    }
}

/*-------------------------------------------------*/
.popup-container.active {
    transition: 0.5s;
    opacity: 1;
    display: block;
    z-index: 11;
    top: 0;
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
}

.popup-container {
    display: none;
    width: 100%;
    height: 100%;
    position: absolute;
    top: -100;
    left: 0;
    right: 0;
    opacity: 0;
    -webkit-transition: all 0.1s ease-out;
    -moz-transition: all 0.1s ease-out;
    -o-transition: all 0.1s ease-out;
    transition: all 0.1s ease-out;

    .close-btn:after {
        position: absolute;
        top: -45px;
        right: -45px;
        content: "\2716";
        font-size: 50px;
        font-weight: 700;
        font-family: 'Courier New', Courier, monospace;
        color: #FFF;
        text-align: center;
        cursor: pointer;
    }

    .popup-content {
        width: 400px;
        max-width: 100%;
        height: 400px;
        position: fixed;
        background-color: #6a88f9;
        left: 50%;
        margin-left: -200px;
        top: 50%;
        margin-top: -200px;
        z-index: 999;
        opacity: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 16px;

        form.save-form {
            display: flex;
            align-items: center;
            flex-direction: column;

            input.submit {
                width: 305px;
                max-width: 100%;
                height: 59px;
                background: #4D6CE1;
                box-shadow: 0px 5px 15px rgba(116, 104, 255, 0.2);
                border-radius: 5px;
                color: white;
                border: unset;
                font-family: Quicksand;
                font-size: 13px;
                margin-top: 20px;
            }

            input.email {
                background: #EFEFF7;
                border-radius: 5px;
                width: 279px;
                max-width: 100%;
                height: 59px;
                border: unset;
                margin-top: 20px;
            }
        }
    }

    .popup-overlay {
        position: relative;
        width: 100%;
        height: 100%;
        background: #5e81fe;
        opacity: 0.7;
        cursor: pointer;
    }
}